view/node_modules
view/build

view/.env.local
view/.env.development.local
view/.env.test.local
view/.env.production.local

view/npm-debug.log*
view/yarn-debug.log*
view/yarn-error.log*

.DS_Store
app/.DS_Store
view/.DS_Store

elegance.sqlite

app/database/queries
data/
build/
.idea/
*.rpm
*.deb
dictionary.txt
